* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* For Fonts */

@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Geist-Regular.otf");
}

@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Geist-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Geist-UltraBlack.otf");
  font-weight: 900;
}

/* For Texts */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: "Geist";
}

a {
  text-decoration: none;
}

body {
  background-color: var(--coffee-1);
}
