:root {
  --coffee-0: #ffffff;
  --coffee-1: #f6e6d6;
  --coffee-2: #eccdad;
  --coffee-3: #e3b384;
  --coffee-4: #da9a5b;
  --coffee-5: #d08132;
  --coffee-6: #a96826;
  --coffee-7: #804f1d;
  --coffee-8: #593614;

  --white: white;

  --primary: #160d05;
  --primary-variant: #0b0702;
}
