:root {
  --coffee-0: #f3eeea;
  --coffee-1: #e9dcd1;
  --coffee-2: #d8ccb7;
  --coffee-3: #b0a695;
  --coffee-4: #a79b88;
  --coffee-5: #776b5d;
  --coffee-6: #6a5d4f;
  --coffee-7: #483d2f;
  --coffee-8: #3f3426;

  --primary: #100b06;
  --primary-variant: #0b0704;
}
